.navbar,
.container {
    background-color: #2a2e2e;
}

.container p,
label,
h2 {
    color: white !important;
}

.nav-item,
.navbar-brand,
.nav-link {
    color: white !important;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.form {
    top: 50px;
    position: relative;
    width: 40%;
    padding: 2%;
    margin-bottom: 100px;
}

#error {
    color: red;
}

table,
th,
td {
    border: 1px solid;
}

#login {
    border: 3px solid #59ff00;
    text-decoration: none;
    padding: 5px 10px;
}

svg {
    vertical-align: middle;
}

html,
body {
    font-weight: bold;
    height: 100%;
}

body h2,
p {
    color: black !important;
}

#title {
    color: #59ff00 !important;
}

.form button {
    width: 100%;
    color: white;
}

button {
    all: unset;
    margin: 10px 0px;
    border: 3px solid #59ff00;
    text-decoration: none;
    padding: 5px 0px;
}

.form a {
    color: #59ff00;
}

.form label {
    margin-top: 5px;
    float: left;
}

#space {
    height: 50px;
}

#loginForm {
    margin-top: 50px;
}

#landingImage {
    background-image: url(landingPage.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 100%;
    background-position: center top 60px;
}

#landingText {
    padding: 0px 70px;
}

.dropdown-menu {
    left: initial;
    right: 0;
}

.breaker {
    border: 1px solid rgb(152, 152, 152);
    margin-bottom: 5px;
}