.nav-item,
.navbar-brand {
    color: black !important;
}

.navbar,
.container {
    background-color: rgb(215, 215, 215);
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    padding: 2%;
}