<div class="container form">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <form method="post">
                <div>
                    <h2>Registra la tua auto</h2>
                    <div class="form-group">
                        <label for="licensePlate">Targa:</label>
                        <input name="licensePlate" type="text" id="licensePlate" class="form-control"
                            placeholder="AA111AA" value="{{licensePlate}}" required>
                    </div>

                    <div class="form-group">
                        <label for="model">Modello:</label>
                        <input name="model" type="text" id="model" class="form-control" value="{{model}}" required>
                    </div>

                    <div class="form-group">
                        <label for="capacity">Capacità:</label>
                        <input name="capacity" type="number" id="capacity" class="form-control" placeholder="30" min="30" max="100"
                            value="{{capacity}}" required>
                    </div>

                    {{#if errorMessage}}
                    <p id="error">{{errorMessage}}</p>
                    {{/if}}

                    <button type="submit" class="text-center">Registra auto</button>
                </div>
            </form>
        </div>
    </div>
</div>