 <footer class="bg-body-tertiary text-center">
        <!-- Grid container -->
        <div class="container"></div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3 text-light">
            © 2024 Copyright:
            <a class="text-body" href="#">Parcheggio.com</a>

            <p class="text-secondary">Illustrazioni offerte da Freepik</p>
        </div>
        <!-- Copyright -->
    </footer>

</body>

</html>