{{#if licensePlate}}
    <p>Targa auto: {{licensePlate}}</p>
    <p>Modello: {{model}}</p>
    <p>Capacità: {{capacity}} kWh</p>

    <form action="/changeCarInfo">
        <button type="submit" class="btn btn-primary">Modifica dati della macchina</button>
    </form>
{{else}}
    <form action="/registerCar">
        <button type="submit" class="btn btn-primary">Aggiungi macchina</button>
    </form>
{{/if}}