<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <form>
                <h2>Login</h2>
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" id="username" class="form-control" placeholder="Inserisci il tuo username">
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" class="form-control" placeholder="Inserisci la tua password">
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
                <p>Non hai un account? <a href="/signup">Crealo!</a></p>
            </form>
        </div>
    </div>
</div>