<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="/">MWBot</a>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <form class="form-inline my-2 my-lg-0">
            <a class="nav-item my-sm-0 fw-bold" href="/login">Login</a>
        </form>
    </div>
</nav>