<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="/">MWBot</a>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        {{#if authenticated}}
            <ul class="navbar-nav">
                {{#if premium}}
                    <li class="nav-item">
                        <a class="nav-link" href="/reservation">Prenotazioni</a>
                    </li>
                {{/if}}
                {{#if admin}}
                    <li class="nav-item">
                        <a class="nav-link" href="/parkingSpots">Monitora posti</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/price">Prezzi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/payment">Pagamenti</a>
                    </li>
                {{else}}
                    <li class="nav-item">
                        <a class="nav-link" href="/recharge">Ricariche</a>
                    </li>
                {{/if}}
            </ul>
        {{/if}}
        <form class="form-inline my-2 my-lg-0">
            {{#if authenticated}}
            <div class="dropdown">
                <a class="nav-item dropdown-toggle my-sm-0 fw-bold" href="#" role="button"
                    data-toggle="dropdown">{{authenticated}}</a>
                <ul class="dropdown-menu">
                    {{#unless admin}}
                    <li>
                        <a class="dropdown-item" href="/car">La tua auto</a>
                    </li>
                    {{/unless}}
                    <li>
                        <a class="dropdown-item" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
            {{else}}
            <a class="nav-item my-sm-0 fw-bold" href="/login">Login</a>
            {{/if}}
        </form>
    </div>
</nav>