<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="/">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#59ff00" class="bi bi-ev-front-fill"
            viewBox="0 0 16 16">
            <path
                d="M2.52 3.515A2.5 2.5 0 0 1 4.82 2h6.362c1 0 1.904.596 2.298 1.515l.792 1.848c.075.175.21.319.38.404.5.25.855.715.965 1.262l.335 1.679q.05.242.049.49v.413c0 .814-.39 1.543-1 1.997V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.338c-1.292.048-2.745.088-4 .088s-2.708-.04-4-.088V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.892c-.61-.454-1-1.183-1-1.997v-.413a2.5 2.5 0 0 1 .049-.49l.335-1.68c.11-.546.465-1.012.964-1.261a.8.8 0 0 0 .381-.404l.792-1.848Zm6.75.51a.186.186 0 0 0-.23.034L6.05 7.246a.188.188 0 0 0 .137.316h1.241l-.673 2.195a.19.19 0 0 0 .085.218c.075.043.17.03.23-.034l2.88-3.187a.188.188 0 0 0-.137-.316H8.572l.782-2.195a.19.19 0 0 0-.085-.218Z" />
        </svg>
        Parcheggio
    </a>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        {{#if authenticated}}
        <ul class="navbar-nav">
            {{#if premium}}
            <li class="nav-item">
                <a class="nav-link" href="/reservation">Prenotazioni</a>
            </li>
            {{/if}}
            {{#if admin}}
            <li class="nav-item">
                <a class="nav-link" href="/parkingSpots">Monitora posti</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/price">Prezzi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/payment">Pagamenti</a>
            </li>
            {{else}}
            <li class="nav-item">
                <a class="nav-link" href="/recharge">Ricariche</a>
            </li>
            {{/if}}
        </ul>
        {{/if}}
        <form class="form-inline my-2 my-lg-0">
            {{#if authenticated}}
            <div class="dropdown">
                <a class="nav-item dropdown-toggle my-sm-0 fw-bold" href="#" role="button"
                    data-toggle="dropdown">{{authenticated}}</a>
                <ul class="dropdown-menu">
                    {{#unless admin}}
                    <li>
                        <a class="dropdown-item" href="/car">La tua auto</a>
                    </li>
                    <div class="breaker"></div>
                    {{/unless}}
                    <li>
                        <a class="dropdown-item" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
            {{else}}
            <a class="nav-item my-sm-0 fw-bold" id="login" href="/login">Login</a>
            {{/if}}
        </form>
    </div>
</nav>