<div class="container form">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <form method="post">
                <div>
                    <h2>Richiesta di Ricarica</h2>
                    <label for="percentage">Percentuale di ricarica da raggiungere:</label>
                    <input type="number" id="percentage" name="percentage" min="1" max="100" value="{{percentage}}"
                        required>

                    <p>Desideri ricevere una notifica?</p>
                    <input type="radio" id="yes" name="notification" value="yes" required>
                    <label for="yes">Sì, desidero ricevere una notifica.</label><br>
                    <input type="radio" id="no" name="notification" value="no">
                    <label for="no">No, non desidero ricevere una notifica.</label><br>

                    {{#if errorMessage}}
                    <p id="error">{{errorMessage}}</p>
                    {{/if}}

                    <button id="next" type="button" onclick="showSecondForm()">Prosegui</button>
                </div>

                <div id="rechargeFormPartTwo" style="display: none;">
                    <p>Auto in coda: {{rechargeQueue}}</p>

                    <p>Desideri accettare la prestazione?</p>
                    <button type="submit">Sì</button>
                    <a href="/recharge">No</a>
                </div>
            </form>
        </div>
    </div>
</div>