<h2>La tua richiesta di ricarica</h2>
<table>
    <tr>
        <th>Percentuale</th>
        <th>Auto in coda</th>
    </tr>

    <tr>
        <td>
            {{percentage}}
        </td>
        <td>
            {{rechargeQueue}}
        </td>
    </tr>
</table>

<form action="/rechargeRequest">
    <button type="submit">Richiedi ricarica</button>
</form>